<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - NutriLens</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="dashboard-container">

    <div class="dashboard-header">
        <h2>Welcome, {{ username }} 👋</h2>
        <p class="dashboard-date">{{ current_date }}</p>
    </div>

    <div class="calorie-card">
        <h1>0</h1>
        <p>Calories Consumed Today</p>

        <div class="progress-bar">
            <div class="progress-fill"style="width: {{ calorie_percent }}%;"></div>
        </div>

        <span>Goal: {{ daily_calories }} kcal</span>
    </div>

    <h3 class="section-title">
        Today's Progress
    </h3>
    <div class="progress-card">

        <h3>Today's Progress</h3>

        <div class="progress-content">

            <div class="rings-section">

                <div class="ring calories-ring"></div>
                <div class="ring protein-ring"></div>
                <div class="ring water-ring"></div>

            </div>

            <div class="progress-stats">

                <p>
                    🔥 {{ calories_consumed }} / {{ daily_calories }}
                </p>

                <p>
                    💪 {{ protein_consumed }}g /
                    {{ protein_goal }}g
                </p>

                <p>
                    💧 {{ water_consumed }}L /
                    {{ water_goal }}L
                </p>

            </div>

        </div>

    </div>
    <div class="macro-row">

        <div class="macro-pill">
             Fat
            <span>0g / {{ fat_goal }}g</span>
        </div>

        <div class="macro-pill">
             Carbs
            <span>0g / {{ carb_goal }}g</span>
        </div>

        <div class="macro-pill">
             Fiber
            <span>0g / {{ fiber_goal }}g</span>
        </div>

    </div>
    <div class="trend-card">

        <h3>Weekly Trend</h3>

        <div class="trend-bars">

            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar active"></div>
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>

        </div>

    </div>

    <div class="quick-actions">

        <h3>Quick Actions</h3>

        <button class="primary-btn">
            📷 Scan Meal
        </button>

        <button class="secondary-btn">
            🍽 Add Food
        </button>

        <button class="secondary-btn">
            📊 View History
        </button>

    </div>

</div>

<div class="bottom-nav">

    <div>🏠<br>Home</div>
    <div>📷<br>Scan</div>
    <div>📊<br>History</div>
    <div>👤<br>Profile</div>

</div>